# Sorting

In [1]:
import pandas as pd

df_csv = pd.read_csv("pokemon_data.csv")

Podemos ordenar o nosso data frame da maneira que quisermos. A primeira forma de fazer isso é utilizando o método sort_values( ).

In [3]:
df_csv.sort_values("Name")

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [5]:
df_csv.sort_values("Type 1", ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
371,339,Barboach,Water,Ground,50,48,43,46,41,60,3,False
97,90,Shellder,Water,NaN,30,65,100,45,25,40,1,False
240,222,Corsola,Water,Rock,55,55,85,65,85,35,2,False
403,368,Gorebyss,Water,NaN,55,84,105,114,75,52,3,False
93,86,Seel,Water,NaN,65,45,55,45,70,45,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
54,49,Venomoth,Bug,Poison,70,65,60,90,75,90,1,False
208,193,Yanma,Bug,Flying,65,65,45,75,45,95,2,False
182,168,Ariados,Bug,Poison,70,90,70,60,60,40,2,False
734,666,Vivillon,Bug,Flying,80,52,50,90,50,89,6,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False

In [11]:
df_csv.sort_values(["Name", "HP"], ascending=[0,1]).head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False