# Inserindo dados em uma tabela

Após criar uma tabela, é preciso popular ela com dados. Para fazer isso, precismos utilizar um comando para inserir essas dados
dentro da tabela. 

É um outro comando SQL que irá ficar, sempre, dentro do comando execute do cursor criado.

### Inserindo apenas um dado

Para inserir apenas um dado, utilizamos o comando INSERT INTO padrão.

In [1]:
import sqlite3

conn = sqlite3.connect('databaseteste.db')

cursor = conn.cursor()

cursor.execute(""" 
INSERT INTO exemplo(nome, data_nascimento, ex_real, ativo)
VALUES ('Gabriel', '1998-05-14', 1.52535, True);
""")

conn.commit()

conn.close()

### Inserindo muitos dados

Para inserir muitos dados de uma vez, podemos utilizar o comando INSERT INTO várias vezes, ou utilizar uma lista para agilizar
o processo. 

Funciona assim: 

- Cria uma lista na qual os dados são tuplas contendo as informações na ordem correta da criação da tabela, quantas tuplas(dados) quiser; 
- Utilize o comando nome_cursor.executemany("INSERT INTO nome_cursor VALUES (?,?,?,?)", nome_lista). Onde as ? representam a quantidade de colunas na tabela, ou seja, se sua tabela tiver 4 colunas, é preciso colocar 4 ? dentro dos parênteses; 

- Em seguida o nome da lista contendo as tuplas com os dados.

In [1]:
import sqlite3

conn = sqlite3.connect('databaseteste.db')

cursor = conn.cursor()

dados_exemplo = [(1, 'Gabriel', '1998-05-14', 1.5, True),
                 (2, 'Felipe', '1985-02-25', 5.3, False),
                 (3, 'Bianca', '2004-04-04', 2.1, True),
                 (4, 'Sofia', '1997-03-07', 7.2, True),
                 (5, 'Luiz', '1990-08-18', 3.2, True),
                 ]


cursor.executemany("INSERT INTO exemplo VALUES (?,?,?,?,?)", dados_exemplo)

conn.commit()

conn.close()