# Selecionando dados

Assim que alguma tabela for criada e alguns dados forem inseridos, o próximo passo é selecionar esses dados para que possamos ver como está a nossa tabela.

Não sei se percebeu, mas a até agora todos os 'runs' que demos não mostraram nada no terminal. Os comando funcionaram, mas não conseguimos ver eles. 'corrigimos' isso utilizando o comando SQL SELECT + mais o comando fetch_( ). Vejamos como isso funciona

#### Tipos de fetch_( )

O fetch nada mais é que o comando que permite que os dados sejam capturados do comando SELECT e possa ser utilizado no scrip Python. Existem 3 tipos de fetch, fetchone( ), fetchmany(n) e fatchall( ).

- O primeiro apenas recupera o primeiro valor da seleção feita.

- O segundo recupera quants linhas quisermos, n sendo a quantidade de linhas.

- O último recupera todos os dados feitos pelo comando SELECT.

Na maioria dos casos, utilizaremos o fatchall( ).

### Selecionando os dados

O comando SELECT é muito poderoso, podemos fazer diversar operações com ele, mas poe enquando irei apenas selecionar todos os dados( por meio do *) e mostra-los.

In [10]:
import sqlite3

conn = sqlite3.connect('databaseteste.db')

cursor = conn.cursor()

cursor.execute("SELECT * FROM exemplo")
print(cursor.fetchall())

conn.commit()

conn.close()

[(1, 'Gabriel', '1998-05-14', 1.5, 1), (2, 'Felipe', '1985-02-25', 5.3, 0), (3, 'Bianca', '2004-04-04', 2.1, 1), (4, 'Sofia', '1997-03-07', 7.2, 1), (5, 'Luiz', '1990-08-18', 3.2, 1)]

Como podemos ver, a apresentação dos dados não é das melhores, eles estão lá, mas não fica muito bom de visualizar. Podemos melhorar a visualação utilizando um laço for.

In [15]:
import sqlite3

conn = sqlite3.connect('databaseteste.db')

cursor = conn.cursor()

for row in cursor.execute("SELECT * FROM exemplo"):
    print(row)

# Ou 

cursor.execute("SELECT * FROM exemplo")
itens = cursor.fetchall()

for iten in itens:
    print(iten)

conn.commit()

conn.close()

(1, 'Gabriel', '1998-05-14', 1.5, 1)
(2, 'Felipe', '1985-02-25', 5.3, 0)
(3, 'Bianca', '2004-04-04', 2.1, 1)
(4, 'Sofia', '1997-03-07', 7.2, 1)
(5, 'Luiz', '1990-08-18', 3.2, 1)
(1, 'Gabriel', '1998-05-14', 1.5, 1)
(2, 'Felipe', '1985-02-25', 5.3, 0)
(3, 'Bianca', '2004-04-04', 2.1, 1)
(4, 'Sofia', '1997-03-07', 7.2, 1)
(5, 'Luiz', '1990-08-18', 3.2, 1)

Ou se formos criativos, podemos fazer muito melhor, como no código abaixo

In [1]:
import sqlite3

conn = sqlite3.connect('databaseteste.db')

cursor = conn.cursor()

cursor.execute("SELECT * FROM exemplo")
itens = cursor.fetchall()

print("ID" + "\t"  + "NAME" + "\t" +  "DATA_NASCIMENTO" + "\t" + "EX_REAL" + "\t" + "ATIVO")

for iten in itens:
    print(f"{iten[0]}\t{iten[1]}\t{iten[2]}\t{iten[3]}\t{iten[4]}")

conn.commit()

conn.close()

ID	NAME	DATA_NASCIMENTO	EX_REAL	ATIVO
1	Gabriel	1998-05-14	1.5	1
2	Felipe	1985-02-25	5.3	0
3	Bianca	2004-04-04	2.1	1
4	Sofia	1997-03-07	7.2	1
5	Luiz	1990-08-18	3.2	1