# Delete

Comando SQL que faz deletar uma linha ou conjunto de linhas de uma tabela.

In [1]:
import sqlite3

conn = sqlite3.connect('databaseteste.db')

cursor = conn.cursor()

cursor.execute("DELETE FROM exemplo WHERE rowid = 3 ")

conn.commit()

conn.close()

In [2]:
cursor.execute("SELECT rowid, * FROM exemplo")
itens = cursor.fetchall()

for iten in itens:
    print(iten)

conn.commit()
conn.close()

(1, 1, 'Gabriel', '1998-05-14', 1.5, 1)
(2, 2, 'Felipe', '1985-02-25', 5.3, 0)
(4, 4, 'Sofia', '1997-03-07', 7.2, 1)
(5, 5, 'Luiz', '1990-08-18', 3.2, 1)