In [6]:
import pandas as pd
import os

#### 01 - Juntar os dados em um so .csv

In [13]:
files = [files for files in os.listdir("C:\\Users\\gabri\\OneDrive\\Documentos\\GitHub\\Algumas-Bibliotecas-no-Python\\Pandas\\casos_reais\\SalesAnalysis\\Sales_Data")]

all_mouths_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("C:\\Users\\gabri\\OneDrive\\Documentos\\GitHub\\Algumas-Bibliotecas-no-Python\\Pandas\\casos_reais\\SalesAnalysis\\Sales_Data\\"+file)
    all_mouths_data = pd.concat([all_mouths_data,df])

all_mouths_data.to_csv("all_data.csv", index=False)

##### 02 - lendo o arquivo resultante

In [20]:
all_data = pd.read_csv("C:\\Users\\gabri\\OneDrive\\Documentos\\GitHub\\Algumas-Bibliotecas-no-Python\\Pandas\\casos_reais\\all_data.csv")

all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [19]:
all_data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

In [28]:
all_data.groupby(["Order Date"]).mean(1).sort_values("Order ID")

KeyError: 'Order ID'